{% extends "sidebar.html" %}

{% block content %}
<div class="jumbotron" style="margin-bottom:0; background-color:#daebf7; padding:2rem 2rem">
    <h2><b>Paid Social Media Ads Analytics: Getting Started</b></h2>
    <div style="text-align:center">
        <video width="850px" height="535px" controls>
            <source src={{video_path}} type="video/mp4">
        </video>
    </div>
    <div style="text-align:right"><a href="/psmaa_prep" class="btn btn-primary">Next</a></div>
</div>

{% endblock %}